[Desktop Entry]
Name=Simsu
Name[cs]=Simsu
Name[de]=Simsu
Name[el]=Simsu
Name[ms]=Simsu
Name[nl]=Simsu
Name[pl]=Simsu
Name[ro]=Simsu
GenericName=Sudoku Game
GenericName[cs]=Hra Sudoku
GenericName[de]=Sudoku Spiel
GenericName[el]=Παιχνίδι Σουντόκου
GenericName[he]=משחק סודוקו
GenericName[ms]=Permainan Sudoku
GenericName[nl]=Sudoku spel
GenericName[pl]=Gra Sudoku
GenericName[ro]=Joc Sudooku
Comment=Fill in numbers to solve puzzles
Exec=simsu
Icon=simsu
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
