[Desktop Entry]
Name=Simsu
Name[bg]=Симсу
Name[cs]=Simsu
Name[de]=Simsu
Name[el]=Simsu
Name[es]=Simsu
Name[fr]=Simsu
Name[lt]=Simsu
Name[ms]=Simsu
Name[nl]=Simsu
Name[pl]=Simsu
Name[pt]=Simsu
Name[ro]=Simsu
Name[zh_TW]=Simsu
GenericName=Sudoku Game
GenericName[bg]=Игра от тип Судоку
GenericName[cs]=Hra Sudoku
GenericName[de]=Sudoku Spiel
GenericName[el]=Παιχνίδι Σουντόκου
GenericName[es]=Juego de Sudoku
GenericName[fr]=Jeu de Sodoku
GenericName[he]=משחק סודוקו
GenericName[lt]=Sudoku žaidimas
GenericName[ms]=Permainan Sudoku
GenericName[nl]=Sudoku spel
GenericName[pl]=Gra Sudoku
GenericName[pt]=Jogo de Sudoku
GenericName[ro]=Joc Sudooku
GenericName[zh_TW]=數獨遊戲
Comment=Fill in numbers to solve puzzles
Comment[bg]=Попълнете числата, за да решите загадките
Comment[cs]=Vyplňte čísla a vyřešte hádanku
Comment[de]=Geben Sie Zahlen ein, um das Rätsel zu lösen
Comment[el]=Συμπληρώστε τους αριθμούς για να λύσετε τους γρίφους
Comment[es]=Escriba números para resolver rompecabezas
Comment[fr]=Résolution de puzzles numériques
Comment[lt]=Irašykite skaičius, kad išspręstumėte dėlionę
Comment[ms]=Isikan nombor untuk menyelesaikan teka-teki
Comment[nl]=Vul nummers in om de puzzel op te lossen
Comment[pl]=Uzupełnij liczby aby rozwiązać puzzle
Comment[pt]=Preenche com números para resolveres quebra-cabeças
Comment[ro]=Completaţi cu numere pentru a rezolva puzzle-uri
Comment[zh_TW]=填入數字，解答數謎。
Exec=simsu
Icon=simsu
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
